* {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", serif;
}

.dark-01 {
    color: #181818;
}

.dark-02 {
    color: #474747;
}

/* Nav style start */
header {
    background-image: url('./images/developer.png'), url('./images/header_bg.png');
    background-color: #FFF8F3;
    padding-top: 50px;
    padding-left: 23px;
    background-position: top left, bottom right;
    background-repeat: no-repeat;

}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 230px 0px 226px;
}

nav h1 {
    font-size: 45px;
    font-weight: 800px;
}

nav ul li {
    list-style: none;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
}

.btn-primary {
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 700px;
}

.banner {
    margin-top: 47px;
    margin-left: 230px;
    display: flex;
    align-items: center;
}

.banner-intro {
    color: #474747;
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.name {
    color: #181818;
    font-family: "Open Sans";
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.desc {
    color: #757575;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    width: 585px;
    line-height: 30px;
    margin-right: 36px;
    margin-bottom: 30px;
}

.btn-primary {
    padding: 18px 36px;
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    margin-right: 30px;
}

.btn-secondary {
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    padding: 18px 36px;
    color: #FD6E0A;
    background-color: white;
    font-size: 20px;
    font-weight: 700;
}


/* Main Sec started */
.sec-1 {
    background-color: #FFF8F3;
    border: none;
    border-radius: 10px;
    padding: 100px 117px;
    margin: 130px 230px;
}

.sec1-inside {
    border: 1px solid #000;
    background-color: #FFF;
}

#sec1-intro {
    color: #181818;
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}


#sec1-desc {
    color: #757575;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

#sec1-self {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.sec1-key {
    color: #757575;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.sec1-value {
    color: #474747;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

/* Main sec-2 started */

.sec-2{
    margin-bottom: 130px;
}

#sec2-intro {
    color: #181818;
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

#sec2-desc {
    color: #757575;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
}

.sec2-img {
    margin-bottom: 30px;
}

.sec2-name {
    margin-bottom: 20px;
    color: #181818;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;

}

.sec2-pa {
    color: #757575;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.carts{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.cart-1{
    border: 1px solid;
    padding: 30px 30px;
    background-color: #FFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px  rgba(0, 0, 0, 0.06);
}