* {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", serif;
}

.dark-01 {
    color: #181818;
}

.dark-02 {
    color: #474747;
}

/* Nav style start */
header {
    background-image: url('./images/developer.png'), url('./images/header_bg.png');
    background-color: #FFF8F3;
    padding-top: 50px;
    padding-left: 23px;
    background-position: top left, bottom right;
    background-repeat: no-repeat;

}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 230px 0px 226px;
}

nav h1 {
    font-size: 45px;
    font-weight: 800px;
}

nav ul li {
    list-style: none;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
}

.btn-primary {
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 700px;
}

.banner {
    margin-top: 47px;
    margin-left: 230px;
    display: flex;
    align-items: center;
}

.banner-intro {
    color: #474747;
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.name {
    color: #181818;
    font-family: "Open Sans";
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.desc {
    color: #757575;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    width: 585px;
    line-height: 30px;
    margin-right: 36px;
    margin-bottom: 30px;
}

.btn-primary {
    padding: 18px 36px;
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    margin-right: 30px;
}

.btn-secondary {
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    padding: 18px 36px;
    color: #FD6E0A;
    background-color: white;
    font-size: 20px;
    font-weight: 700;
}


/* Main Sec started */
.sec-1 {
    background-color: #FFF8F3;
    border: none;
    border-radius: 10px;
    padding: 100px 117px;
    margin: 130px 230px;
}

.sec1-inside {
    border: 1px solid #000;
    background-color: #FFF;
}

#sec1-intro {
    color: #181818;
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}


#sec1-desc {
    color: #757575;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

#sec1-self {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.sec1-key {
    color: #757575;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.sec1-value {
    color: #474747;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

/* Main sec-2 started */

.sec-2 {
    margin-bottom: 130px;
}

#sec2-intro {
    color: #181818;
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

#sec2-desc {
    color: #757575;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
}

.sec2-img {
    margin-bottom: 30px;
}

.sec2-name {
    margin-bottom: 20px;
    color: #181818;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;

}

.sec2-pa {
    color: #757575;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.carts {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.cart-1 {
    border: 1px solid;
    padding: 30px 30px;
    background-color: #FFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* Section 3 started */
#sec3-heading {
    color: #181818;
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 130px;
}

.block-h {
    color: #474747;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.prgrm {
    margin-bottom: 10px;
    color: #474747;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 700;
}

.uni {
    margin-bottom: 20px;
    color: #757575;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
}

.skills {
    color: #757575;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}

hr {
    width: 558px;
    height: 1px;
    background-color: #D1D1D1;
    margin-bottom: 30px;
}

.resume-history {
    display: flex;
    margin: 113px 230px 50px;
    gap: 20px;
}

.sec3-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 10px 12px;
    gap: 5px;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    margin: auto;
    border: none;
    margin-bottom: 113px;
}

.btn-img {
    height: 30px;
    width: 30px;
}

.only-btn {
    color: black;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;

}

/* Footer started */
footer {
    background-color: #FFF8F3;
    display: flex;
    justify-content: space-evenly;
    padding-top: 130px;
}

#foot-head {
    color: #181818;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

#foot-para {
    color: #474747;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}

.foot-icon {
    display: flex;
    gap: 24px;
}

#form-head {
    margin-bottom: 28px;
}

.inp-1 {
    display: block;
    padding: 0px 0px 0px 30px;
    min-width: 461px;
    height: 64px;
    border-radius: 5px;
    background-color: #FFF;
    margin-bottom: 24px;
    border: none;
}

.text-a {
    padding: 18px 0px 0px 30px;
    min-width: 461px;
    border-radius: 5px;
    background-color: #FFF;
    margin-bottom: 24px;
    border: none;
    margin-bottom: 24px;
}

.form-btn {
    display: flex;
    justify-content: start;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 12px 24px;
    border: none;
    margin-bottom: 113px;
}

form h1 {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;

}